@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    text-align: center;
}

a{
    text-decoration: none;
}

.nav{
    margin: 3% 10% 6%;
    text-align: left;
}

.nav img{
    position: relative;
    width: 7%;
    left : -5%;
}

.btn{
    position: absolute;
    right: 5%;
    padding: 1% 2%;
    color: #7510F7;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #7510F7;
    border-radius: 30px;
}

.btn:hover{
    background-color: #7510F7;
    color: white;
}

.front h1{
    font-family: 'Amaranth', sans-serif;
    font-size: 250%;
    padding-top: 2%;
}

.front p{
    font-family: 'Montserrat', sans-serif;
    font-size: 130%;
    line-height: 1.5;
    font-weight: 800;
}

.Profile{
    width: 18%;
}

.Office{
    margin-top: 7%;
    width: 50%;
    margin-bottom: -0.5%;
}

.intro{
    padding: 11%;
    background-color: #7510F7;
    color: white;
}

h3{
    font-family: 'Amaranth', sans-serif;
    font-size: 180%;
    margin: 0;
}

.intro p{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 105%;
    width: 75%;
    padding-bottom: 12%;
    line-height: 1.5;
}

.tools-tech table{
    position: relative;
    background-color: white;
    margin: auto;
    margin-top: -13%;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0 rgb(240, 240, 240);
}

.programming{
    border-right:1px solid rgb(240, 240, 240);
    border-width: 2px;
}

.programming , .webDev{
    position: relative;
    padding: 3% 30px;
    width: 40vw;
}

.fa-file-alt{
    color: #7510F7;
    font-size: 320%;
}

.fa-code{
    margin-top: 4%;
    color: #7510F7;
    font-size: 320%;
}

h6{
    font-family: 'Amaranth', sans-serif;
    font-size: 180%;
    margin: 0;
    padding-top: 5%;
}

.programming p , .webDev p{
    margin: auto;
    width: 80%;
    padding-top: 3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 90%;
    line-height: 1.5;
}

.dev , .pro{
    color: #7510F7;
}

ul{
    list-style: none;
    margin: auto;
}

.project{
    padding-top: 130px;
    margin: auto;
}

.project p{
    line-height: 1.5;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
}

.project section{
    margin: 1%;
    margin-top: 7%;
    display: inline-block;
    height: 220px;
    width: 27%;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
    background: linear-gradient(45deg , #7510F7 , pink , grey);
    background-size: 300%;
    color: white;
    text-align: left;
    padding-left: 1.5%;
}

.project section h3{
    font-size: 250%;
}

.project section:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.progress{
    margin-top: 8%;
}

.hackerrank{
    padding: 0.5% 1%;
    color: #7510F7;
    font-size: 125%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #7510F7;
    border-radius: 30px;
}

.hackerrank:hover{
    background-color: #7510F7;
    color: white;
}

.footer{
    clear: left;
    margin-top: 10%;
    padding-top: 8%;
    background-color: #7510F7;
    padding-bottom: 5%;
}

.footer img{
    width: 6%;
}

.motto{
    line-height: 1.5;
    font-family: 'Amaranth', sans-serif;
    font-size: 160%;
    color :rgb(212, 211, 211);
    padding-bottom: 0.75%;
}

.fa-linkedin-in, .fa-envelope , .fa-github-alt , .fa-instagram{
    font-size: 140%;
    color: rgb(255, 255, 255);
    border: 1.3px solid rgb(212, 211, 211);
    border-radius: 60px;
    padding: 1.2%;
    margin: 0.45% 0.85%;
}

.fa-linkedin-in:hover , .fa-envelope:hover , .fa-github-alt:hover , .fa-instagram:hover{
    color: #7510F7;
    background-color: white;
    border: 1.3px solid white;
}

.copyright{
    padding-top: 2.5%;
    font-family:'Montserrat', sans-serif;
    color: rgb(212, 211, 211);
    font-size: 90%;
}
